
#contain {
    /* background: brown; */
    display: flex;
    flex-wrap: wrap;
    height: 22em;
    align-items: center;
    justify-content: center;
    width: 15em;
    border: 2px solid grey;
    text-align: center;
    padding: 2em;
    margin-bottom: 3em;
    margin-left: 10px;
    border-radius: 9px;
    /* cursor: pointer; */
    /* color: white; */

}

.theWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#pageTogs{
    position: relative;
    justify-content: right;
    cursor: pointer;
}

.shopBooks{
    position: relative;
}